div.orderid_box{ background-color:#E3E3E3; border:thin solid #A4A4A4; border-radius:3px; padding:5px;text-align:center;margin-bottom: 20px;}
div.orderid_box div{ text-align:center; }
div.orderid_box span{ font-size:11px; }
